body { 
    background: #F5F5EF;
    width: Fill (1,144px)vh; 
    height: Hug (3,693px)px; 
    padding: 48px 0px 48px 0px; 
    gap: 0px; 
    opacity: 0px; 
    display: flex; 
    justify-content: 
    center; 
} 
header { 
    width: Fill (1,344px)vh; 
    height: Hug (84px)px; 
    padding: 18px 0px 18px 0px; 
    gap: 0px; 
    opacity: 0px; 
} 
.opt { 
    width: 112px; 
    height: 0px; 
    gap: 18px; 
    opacity: 0px; 
    font-family: Domine; 
    font-size: 28px; 
    font-weight: 400; 
    line-height: 0px; 
    letter-spacing: -0.02em; 
    text-align: left; 
    text-underline-position: from-font; 
    text-decoration-skip-ink: none; 
    color: #1D221B; 
    display: flex; 
    justify-content: space-evenly; 
    margin-left: 910px; 
    flex-direction: row; 
    text-decoration: none; 
} 
.heading { 
    width: 375px; 
    height: 27px; 
    gap: 0px; 
    opacity: 0px; 
    font: syne; 
    font-size: 42px; 
    font-weight: 800; 
    line-height: 0px; 
    letter-spacing: -0.04em; 
    text-align: left; 
    text-underline-position: from-font; 
    text-decoration-skip-ink: none; 
    color: #1D221B; 
    margin-top: -30px; 
    margin-left: 64px; 
    margin-right: 10px; 
} 
#head { 
    width: 1344px; 
    height: 240px; 
    gap: 0px; 
    opacity: 0px; 
    font-size: 120px; 
    color: #1D221B; 
    font-family: Domine; 
    font-weight: 700; 
    line-height: 120px; 
    letter-spacing: -0.02em; 
    text-align: center; 
    text-underline-position: from-font; 
    text-decoration-skip-ink: none; 
}  
.img1 { 
    width: 1344px; 
    height: 672px; 
    gap: 0px; 
    opacity: 0px; 
    display: flex; 
    justify-content: center; 
} 
#img1 { 
    border: 1.5px solid #000000; 
    border-radius: 28px; 
} 
#img2 { 
    width: 384.67px; 
    height: 277px; 
    gap: 10px; 
    border: 1.5px solid #000000; 
    border-radius: 16px; 
    opacity: 0px; 
} 
.row1 { 
    width: Fill (1,344px)px; 
    height: Hug (433px)px; 
    padding: 150px 0px 20px 0px; 
    gap: 32px; 
    opacity: 0px; 
    display: flex; 
    margin-left: 60px; 
} 
.row2 { 
    width: Fill (1,344px)px; 
    height: Hug (433px)px; 
    padding: 20px 0px 20px 0px; 
    gap: 32px; 
    opacity: 0px; 
    display: flex; 
    margin-left: 60px; 
} 
.row3 { 
    width: Fill (1,344px)px; 
    height: Hug (433px)px; 
    padding: 20px 0px 0px 0px; 
    gap: 32px; 
    opacity: 0px; 
    display: flex; 
    margin-left: 60px; 
} 
.project1 p { 
    width: Fill (414.67px)px; 
    height: Hug (48px)px; 
    gap: 0px; 
    opacity: 0px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 20px; 
    font-weight: 400; 
    line-height: 24px; 
    text-align: left; 
    text-underline-position: from-font; 
    text-decoration-skip-ink: none; 
    color: #1D221B; 
    margin-top: auto; 
    margin-bottom: auto; 
} 
span { 
    width: 414.67px; 
    height: 24px; 
    gap: 0px; 
    opacity: 0px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 17px; 
    font-weight: 400; 
    line-height: 24px; 
    text-align: left; 
    text-underline-position: from-font; 
    text-decoration-skip-ink: none; 
    color: 1D221B; 
    margin-top: -20px; 
} 
h2 { 
    color: #1D221B; 
    width: 582px; 
    height: 260px; 
    gap: 0px; 
    opacity: 0px; 
    font-family: Domine; 
    font-size: 48px; 
    font-weight: 400; 
    line-height: 52px; 
    letter-spacing: -0.02em; 
    text-align: left; 
    text-underline-position: from-font; 
    text-decoration-skip-ink: none; 
    margin-left: 60px; 
} 
#lowt { 
    width: Fill (1,344px)px; 
    height: Hug (452px)px; 
    padding: 96px 0px 0px 0px; 
    gap: 0px; 
    border: 0px 0px 1.5px 0px; 
    opacity: 0px; 
} 
.foot1 { 
    width: Fill (1,344px)px; 
    height: Hug (364px)px; 
    padding: 36px 0px 96px 20px; 
    gap: 0px; 
    border: 0px 0px 1.5px 0px; 
    opacity: 0px; 
} 
.foota { 
    width: Fill (1,344px)px; 
    height: Hug (172px)px; 
    padding: 50px 0px 50px 0px; 
    gap: 0px; 
    opacity: 0px; 
    display: flex; 
    justify-content: space-around; 
} 
#cont { 
    width: 624px; 
    height: 92px; 
    gap: 0px; 
    opacity: 0px; 
    font-family: Domine; 
    font-size: 30px; 
    font-weight: 700; 
    line-height: 52px; 
    letter-spacing: -0.02em; 
    text-align: left; 
    text-underline-position: from-font; 
    text-decoration-skip-ink: none; 
    color: #1D221B; 
} 
.reach { 
    width: Fill (534px)px; 
    height: Hug (72px)px; 
    padding: 8px 0px 0px 0px; 
    gap: 0px; 
    opacity: 0px; 
    color: #1D221B; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 20px; 
    font-weight: 400; 
    line-height: 32px; 
    text-underline-position: from-font; 
    text-decoration-skip-ink: none; 
}
.reach p { 
    width: 534px; 
    height: 64px; 
    gap: 0px; 
    opacity: 0px; 
}
